.catalog{
    margin: 50px;

    .catalog-wrapper{
        width: 80vw;
        background-color: rgba(187, 227, 255, 0.17);
        border-radius: 31px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px;

        .label{
            font-size: 36px;
            font-weight: 600;
        }
    }
}