.input-text{
    width: 95%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
    padding: 10px;
}

.search-icon{
    position: relative;
    float: right;
    right: 50px;
    top: 8px;
    font-size: 25px;
    // position: absolute;
    // float: right;
    // right: 520px;
    // top: 60px;
    // font-size: 20px;
}